# Raw data
data/raw/*
!data/raw/README.md

# Local archives and iterative development files
src/_archive_iterative_scripts/
src/_local_archive_before_github/
outputs/_local_not_for_github/

# Large or raw-data-derived outputs
*.tif
*.tiff
*.parquet
*assignments.csv
*retail_points_selected_years_geometry.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# R / local history
.Rhistory
.RData

# OS files
.DS_Store
Thumbs.db
